.pagenation {
  display: flex;
  justify-content: space-between;
  position: absolute;
  right: 50%;
  bottom: 0px;
  margin: 10px auto;
  transform: translate(50%, -50%);
  width: 8vw;

  li {
    width: 1vw;
    height: 1vw;
    background-color: $grey;
    opacity: 50%;
    border-radius: 50%;
  }

  .active {
    background: $white;
    opacity: 100%;
  }
}
