header {
  position: relative;
  width: 100vw;
  overflow-x: hidden;
}

.gnb {
  display: none;
  @include responsive(T) {
    display: block;
    position: fixed;
    width: 100vw;
    z-index: 10;
    &-wrapper {
      padding: 0 3vw;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &-nav {
      &-list {
        display: flex;
        justify-content: center;

        .nav-item {
          position: relative;
          padding: 10px;
          margin: 20px;

          .nav-title {
            font-size: 14px;
            font-weight: 700;
            color: $white;
            &:hover,
            &:focus {
              color: $blue;
            }
          }
          .menu {
            position: absolute;
            padding: 4px;
            background-color: rgba($color: $white, $alpha: 0.5);
            border-radius: 4px;
            top: 40px;

            &-item {
              padding: 10px 4px;
              font-size: 11px;
              font-weight: 500;
              color: rgb(41, 41, 41);
              &:hover {
                color: $blue;
              }
            }

            &.item1 {
              left: -2px;
              display: none;
              &.active {
                display: block;
              }
            }
            &.item2 {
              left: 4px;
              display: none;
              &.active {
                display: block;
              }
            }
            &.item3 {
              left: 10px;
              display: none;
              &.active {
                display: block;
              }
            }
          }
        }
      }
    }
  }

  &-right {
    display: flex;
    flex-wrap: nowrap;
    .user-btn {
      padding: 5px;
      border: 2px solid $white;
      font-size: 12px;
      font-weight: 500;

      &:hover {
        color: $blue;
        border-color: $blue;
      }
      &:first-of-type {
        margin-right: 10px;
      }
    }
  }
}

.logo {
  margin-right: 20px;
  img {
    width: 100px;
    height: auto;
    padding-top: 20px;
  }
}

.gnb-mobile {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  margin: 0 auto;
  z-index: 10;

  .logo {
    img {
      width: 160px;
    }
  }

  .menu-icon {
    position: absolute;
    right: 20px;
    img {
      width: 30px;
      margin-top: 10px;
    }
  }

  @include responsive(T) {
    display: none;
  }
}

.wrapper-banner {
  position: relative;
  display: flex;
  width: 330px;
  margin: 100px auto 0;
  overflow-x: hidden;
  @include responsive(T) {
    width: 700px;
    margin: 10vw auto 0;
  }
  @include responsive(D) {
    width: 959px;
  }

  .image-wrapper {
    display: flex;
  }
  .carousel-btn {
    position: absolute;
    bottom: 50%;
    transform: translate(50%, 50%);
    z-index: 1;

    img {
      width: 10px;
      @include responsive(T) {
        width: 30px;
        &:focus,
        &:active {
          width: 32px;
        }
      }
    }
    &.left {
      left: 5px;
    }
    &.right {
      right: 30px;
    }
  }

  .banner-image {
    display: block;
    width: 330px;
    object-fit: cover;
    border-radius: 8px;
    @include responsive(T) {
      width: 700px;
    }
    @include responsive(D) {
      width: 959px;
    }
  }
}

.wrapper-boxes {
  display: block;
}

.mobile-menulist {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 200px;
  padding: 30px;
  color: $white;
  background-color: rgba($color: $black, $alpha: 0.66);
  .nav-title {
    font-size: 14px;
    font-weight: 700;
    color: $blue-dark;
  }
  .menu {
    margin-bottom: 20px;
    margin-left: -4px;
  }
  .menu-item {
    font-size: 12px;
    margin: 5px;

    &:hover {
      color: $blue;
    }
  }
  &.active {
    display: block;
  }
}

.wrapper-user {
  margin: 50px 0 0 -30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  .user-btn {
    padding: 3px 30px;
    color: $grey;
    font-size: 12px;
    font-weight: 500;
    &:first-child {
      border-right: 1px solid $grey;
    }
    &:hover {
      color: $blue;
    }
  }
}
