.container-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 50px 20px 0;

  @include responsive(T) {
    margin: 100px;
  }

  .news {
    text-align: center;
    &-poster {
      width: 340px;
      padding-top: 30px;

      @include responsive(T) {
        width: 580px;
        margin: 50px;
      }
      @include responsive(D) {
        width: 800px;
        font-size: 200px;
        top: 40%;
      }
    }
  }

  .main-tit {
    position: relative;
    text-align: center;

    .cube-text {
      position: absolute;
      transform: rotate(-20deg);
      font-size: 40px;
      top: -10px;
      left: 70px;
      line-height: 0.8;
      color: $white;
      opacity: 0.6;

      @include responsive(T) {
        font-size: 100px;
      }
      @include responsive(D) {
        font-size: 100px;
        left: 30%;
      }

      &-img {
        width: 80%;
        @include responsive(D) {
          width: 60%;
        }
      }
    }
  }

  .wrapper-boxes {
    display: flex;
    flex-direction: column;
  }

  .main_page-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    gap: 12px;

    @include responsive(T) {
      text-align: left;
      align-items: flex-start;
    }
  }

  .top-box-section {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
    gap: 40px;
    margin-top: 40px;
    margin-bottom: 40px;

    @include responsive(T) {
      flex-wrap: nowrap;
      gap: 20px;
      margin-top: -45px;
      margin-bottom: 90px;
    }

    .box-item {
      width: 300px;

      @include responsive(D) {
        width: 600px;
      }

      img {
        object-fit: cover;
        width: 100%;
        border-radius: 8px;
      }
    }
  }

  .bottom-box-section {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
    gap: 40px;

    @include responsive(T) {
      flex-wrap: nowrap;
      gap: 20px;
    }

    .box-item {
      object-fit: cover;
      width: 300px;

      @include responsive(T) {
        width: 220px;
      }
      @include responsive(D) {
        width: 400px;
      }

      img {
        width: 100%;
        border-radius: 8px;
      }
    }
  }

  .main_page-box {
    strong {
      font-size: 20px;
      line-height: 1.2;
      letter-spacing: -0.05em;

      @include responsive(T) {
        font-size: 30px;
        line-height: 0.9;
      }
      @include responsive(D) {
        font-size: 50px;
      }
    }
  }
}

.sns {
  &-wrapper {
    display: flex;
    flex-direction: column;
    margin: 50px auto;

    @include responsive(T) {
      flex-direction: row;
      justify-content: space-between;
      width: 60%;
      margin: 150px auto 50px;
    }
  }
  &-item {
    font-size: 16px;
    font-weight: 500;
    color: rgb(241, 241, 241);
    margin-bottom: 10px;

    @include responsive(D) {
      font-size: 20px;
      margin-bottom: 0;
    }
  }
}
