.container-main {
  width: 90vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20vw 5vw 0;

  @include responsive(T) {
    margin: 11vw 5vw 0;
  }

  .news {
    text-align: center;
    &-poster {
      width: 78vw;
    }
  }

  .main-tit {
    margin-top: 10vw;
    text-align: center;
    position: relative;
    font-family: 'Times New Roman', Times, serif;
    .cube-text {
      position: absolute;
      top: -15vw;
      left: 35vw;
      font-size: 5vw;
      line-height: 0.8;
    }
    .monthly {
      font-size: 8vw;
      position: absolute;
      top: -6vw;
      left: 30vw;
      transform: rotate(-10deg);
      @include textColor;
    }
  }

  .wrapper-boxes {
    display: flex;
    flex-direction: column;
  }

  .main_page-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    gap: 2vw;

    @include responsive(T) {
      text-align: left;
      align-items: flex-start;
    }
  }

  .top-box-section {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
    gap: 10vw;
    margin: 20vw 0 10vw;

    @include responsive(T) {
      flex-wrap: nowrap;
      gap: 3vw;
      margin: 10vw 0 10vw;
    }

    .box-item {
      width: 90%;
      margin: 0 auto;
      @include responsive(T) {
        width: 98%;
      }

      img {
        object-fit: contain;
        width: 100%;
        border-radius: 8px;
      }
    }
  }

  .bottom-box-section {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
    gap: 10vw;

    @include responsive(T) {
      flex-wrap: nowrap;
      gap: 3vw;
    }

    .box-item {
      object-fit: cover;
      width: 80vw;

      @include responsive(T) {
        width: 28vw;
      }

      img {
        object-fit: contain;
        width: 100%;
        border-radius: 8px;
      }
    }
  }

  .main_page-box {
    strong {
      font-size: 5vw;
      line-height: 1.2;
      letter-spacing: -0.05em;
      margin-bottom: 8px;
      @include responsive(T) {
        font-size: 3vw;
      }
    }
  }
}

.sns {
  &-wrapper {
    width: 80vw;
    display: flex;
    justify-content: space-between;
    margin: 10vw auto 10vw;
  }
  &-item {
    font-size: 2vw;
    font-weight: 500;
    color: rgb(241, 241, 241);
  }
}
