@mixin textColor {
  color: transparent;
  background-image: url('https://github.com/waterbinnn/cube/blob/main/assets/images/bg_gradient.png?raw=true');
  background-clip: text;
  -webkit-background-clip: text;
  animation: gradient 8s linear infinite;
}
