@mixin textColor {
  color: transparent;
  background-image: url('../../assets/images/bg_gradient.png');
  background-clip: text;
  -webkit-background-clip: text;
  animation: gradient 8s linear infinite;
}
